@use "../abstracts" as *;

.template {
  color: $text-color;
  max-width: calc($magic-number * 24);

  @include for-laptop-sm-and-up {
    margin: 0 auto;
    margin-bottom: calc($magic-number * 2);
    padding: 0 calc($magic-number / 2);
  }

  .intro {
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0 auto;
    height: calc(var(--vh, 1vh) * 100 - 27.3px);

    @include for-tablet-and-up {
      justify-content: end;
      height: calc(var(--vh, 1vh) * 100 - 63.3px);
    }

    @include for-laptop-sm-and-up {
      padding: 0;
      padding-top: calc($magic-number / 2);
    }

    @include for-laptop-l-and-up {
      height: calc(var(--vh, 1vh) * 100 - 45.3px);
    }

    &__details {
      width: 100%;
      margin: 0 auto;
      flex-grow: 2;

      padding: calc($magic-number / 2) calc($magic-number / 4);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include for-tablet-and-up {
        padding: calc($magic-number / 2);
        flex-direction: row;
        align-items: center;
      }

      @include for-laptop-sm-and-up {
        padding: calc($magic-number / 2) 0;
      }

      &__header {
        margin-bottom: calc($magic-number / 2);
        overflow: hidden;
        @include for-tablet-and-up {
          margin-bottom: 0;
          max-width: 60%;
        }

        h1 {
          font-size: 2.6rem;
          @include for-tablet-and-up {
            font-size: 5.6rem;
          }
          margin: calc($magic-number / 6) 0;
          margin-top: 0;
        }

        p {
          max-width: 60ch;
          font-size: 1.6rem;
          line-height: 1.4;
        }
      }
    }

    &__hero-img {
      width: 100%;
      overflow: hidden;
      position: relative;
      aspect-ratio: 9/16;

      @include for-laptop-sm-and-up {
        aspect-ratio: 16/9;
      }
      @include for-phablet-and-up {
        aspect-ratio: 1/1;
      }

      @include for-laptop-l-and-up {
        border-radius: $border-radius $border-radius 0 0;
      }

      &__reveal {
        top: 0;
        left: 0;
        position: absolute;
        z-index: 10;
        @include size(100%);

        background-color: $dark-main;
      }

      &--wrapper {
        border-radius: $border-radius $border-radius 0 0;
        overflow: hidden;
        transform: translateZ(0px);
        @include size(100%);
        z-index: 5;

        .asset {
          @include size(100%);
        }
      }
    }

    &__personalia {
      min-width: fit-content;
      width: fit-content;

      &__details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: calc($magic-number / 3);

        div {
          &:last-of-type {
            margin-right: 0;
          }

          h2:nth-of-type(1) {
            font-size: 1.4rem;
            font-weight: 600;
            margin-bottom: calc($magic-number / 8);
          }

          h2:nth-of-type(2) {
            font-size: 1.8rem;
            font-weight: 400;
          }

          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }

    &__content {
      padding: calc($magic-number / 2) calc($magic-number / 4);
      color: $text-color;
      margin: auto;
      background-color: hsl(0, 0%, 7%);
      border-radius: 0 0 $border-radius $border-radius;

      a {
        color: hsl(0, 0%, 72%);
      }

      @include for-tablet-and-up {
        padding: calc($magic-number);
      }

      @include for-laptop-l-and-up {
      }

      h2 {
        font-size: 2rem;
        margin: calc($magic-number / 4) 0;
        &:first-child {
          margin-top: 0;
        }
      }

      p {
        font-size: 1.6rem;
        line-height: 1.4;
        padding: 0;
        max-width: 60ch;
        margin: calc($magic-number / 4) 0;
        margin-bottom: calc($magic-number / 2);

        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__content {
    font-size: 2.2rem;
    padding: calc($magic-number / 2) calc($magic-number / 4);

    @include for-tablet-and-up {
      padding: calc($magic-number / 2);
    }

    @include for-laptop-l-and-up {
      padding-top: calc($magic-number);
      margin: auto;
    }

    &:first-child {
      margin-top: 0 !important;
    }

    a {
      color: rgba(255, 255, 255, 0.5);
    }

    p,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: block;
      margin: calc($magic-number / 2) auto;
      line-height: 1.4;
      font-size: 1.6rem;
      color: hsl(0, 0%, 75%);

      @include for-laptop-sm-and-up {
        max-width: 60ch;
      }
      @include for-tablet-and-up {
        max-width: calc($magic-number * 10);
      }
    }

    .asset {
      max-width: calc($magic-number * 20);
      @include size(100%);

      margin: calc($magic-number / 2) auto;

      @include for-tablet-and-up {
        margin: calc($magic-number) auto;
      }

      overflow: hidden;
      border-radius: $border-radius;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}
