/* Animations */
$duration-quick: 0.15s;
$duration-medium: 0.25s;
$duration-inter: 0.25s;
$duration-slow: 0.5s;
$ease-in: cubic-bezier(0.39, 0.01, 0.63, -0.06);
$ease-out: cubic-bezier(0.27, 0.53, 0.15, 1.01);
$ease-in-out: cubic-bezier(0.58, 0, 0.44, 1);