@use "_sizes.scss" as *;
@use "_colors.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $root-font-size;
  background-color: $background-color;
}

body {
  padding-top: $nav-height;

  // Typography
  font-family: "Montserrat", Helvetica Neue, Helvetica, sans-serif;
  font-weight: 400;
  text-rendering: geometricPrecision;
  word-wrap: break-word;
  font-feature-settings: "kern", "liga", "clig", "calt";
  font-kerning: normal;

  // Navbar position
  padding-top: var(--nav-height);
}

// Journals container fix
section {
  position: relative;
  z-index: 10;
}
