/* Variables */
// Credits to Daan van der Zwaag -> https://daanvanderzwaag.com/journal/the-magic-number
$magic-number: 72px;
$root-font-size: 10px;

/* Elements */
$border-radius: 6px;
$border-radius-tag: 36px;
$nav-height: 29px;