/* Variables */
// Credits to Daan van der Zwaag -> https://daanvanderzwaag.com/journal/the-magic-number
$magic-number: 72px;
$root-font-size: 10px;

/* Elements */
$border-radius: 6px;
$border-radius-tag: calc($magic-number / 2);

/* Typography */
$line-height-title: 1.6;
$line-height-body: 1.4;