@use "styling/abstracts"as *;

.sliding-text {
    max-width: 100%;
    overflow: hidden;
    margin: 72px 0;

    @include for-laptop-sm-and-up {
        margin: 144px 0;
    }

    h2 {
        font-family: "Syne";
        font-weight: 900;
        color: $white-main;
        font-size: 42px;
        white-space: nowrap;
        margin: 0;

        @include for-laptop-sm-and-up {
            font-size: 120px;
            letter-spacing: -4px;
            word-spacing: 40px;

            &:nth-child(2) {
                margin-top: -50px;
            }
        }

    }
}