@use "styling/abstracts/"as *;

.hero-banner {
    overflow: hidden;
    height: calc(var(--vh, 1vh) * 100);
    margin-top: calc(-1 * var(--nav-height, calc($magic-number / 2)));

    img,
    div,
    canvas {
        @include size(100%);
        object-fit: cover;
    }
}