@use "styling/abstracts/" as *;

.hero-banner {
  overflow: hidden;
  height: calc(var(--vh) * 100 - var(--nav-height));

  img,
  div,
  canvas {
    @include size(100%);
    object-fit: cover;
  }
}
