@use "../abstracts" as *;

.row-title {
  display: block;
  margin-bottom: 9px;
}

.row-title,
.row-word {
  overflow: hidden;
}

.row-word {
  margin-right: 18px;
}

.row-word,
.row-letter {
  font-size: 3.6rem;

  @include for-laptop-l-and-up {
    font-size: 5.6rem;
  }
  font-weight: 700;
  position: relative;
  letter-spacing: 0rem;
  font-family: "Syne";
  display: inline-block;
  white-space: nowrap;
}

.journal-book {
  .headline {
    color: $text-color;
    font-family: "Syne";
    font-weight: 700;
    font-size: 5.6rem;
  }
}

.journal-small {
  text-decoration: none;

  &__year {
    color: $text-color;
    font-size: 2.2rem;
    font-weight: 200;
  }

  &__name {
    color: $text-color;
    font-size: 2.4rem;
  }

  &__tags span {
    color: $background-color;
    font-size: 1rem;
    font-weight: 500;
  }
}
