@use "styling/abstracts"as *;

.details {
    width: 100%;
    margin: 0 auto;
    flex-grow: 2;

    &.journala {
        .header {
            p {
                opacity: 0 !important;
            }
        }
    }

    padding: calc($magic-number / 2) calc($magic-number / 4);
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: calc($magic-number / 2);

    @include for-tablet-and-up {
        grid-template-columns: 1fr 1fr;
        padding: calc($magic-number / 2);
    }

    @include for-laptop-l-and-up {
        padding: calc($magic-number / 2) 0;
    }

    .header {
        margin-bottom: 0;
        overflow: hidden;

        h1 {
            font-size: 2.6rem;

            @include for-tablet-and-up {
                font-size: 5.6rem;
            }

            margin: calc($magic-number / 6) 0;
            margin-top: 0;
        }

        p {
            max-width: 60ch;
            font-size: 1.6rem;
            line-height: $line-height-body;
        }
    }

    .personalia {
        min-width: fit-content;
        width: fit-content;
        min-height: fit-content;

        @include for-tablet-and-up {
            justify-self: end;
        }

        .info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: calc($magic-number / 3);

            .item {
                &:last-of-type {
                    margin-right: 0;
                }

                h3:nth-of-type(1) {
                    font-size: 1.4rem;
                    font-weight: 600;
                    margin-bottom: calc($magic-number / 8);
                }

                h3:nth-of-type(2) {
                    font-size: 1.8rem;
                    font-weight: 400;
                }

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }
}