@use "styling/abstracts" as *;

.gallery {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: calc($magic-number / 2);

    @include for-laptop-sm-and-up {
      grid-template-columns: 1fr 1fr;
    }

    .asset {
      aspect-ratio: 5/3;
      transform: translateZ(0);
      overflow: hidden;
      border-radius: $border-radius;
    }
  }
}
