@use "styling/abstracts"as *;

.timeline_block {
    color: $text-color;
    padding: calc($magic-number / 2) calc($magic-number / 4);
    margin-bottom: $magic-number;

    @include for-laptop-sm-and-up {
        padding: calc($magic-number / 2);
        margin-bottom: 0;
    }

    @include for-laptop-l-and-up {
        padding: calc($magic-number);
    }

    h2 {
        padding: 24px 0;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        font-size: 2.6rem;
        color: $text-color;

        @include for-laptop-sm-and-up {
            font-size: 7.2rem;
        }
    }

    .item {
        padding: calc($magic-number / 4) 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        display: flex;
        flex-direction: column;
        align-content: start;

        .job,
        .company,
        .location {
            color: $text-color;
            font-size: 1.8rem;
            margin-bottom: calc($magic-number / 24);
            font-weight: 400;
        }

        .company {
            margin-bottom: calc($magic-number / 8);
        }

        .job,
        .location {
            color: rgba(255, 255, 255, 0.35);
            font-size: 1.4rem;
        }

        .year {
            padding: 5px 14px;
            border-radius: 100px;
            border: solid 1px rgba(255, 255, 255, 0.1);
            font-size: 1.2rem;
            letter-spacing: 0.1px;
            align-self: flex-end;
            color: rgba(255, 255, 255, 0.75);
        }

        .bubble {
            display: none;
        }

        &.active {
            .bubble {
                background-color: rgba(50, 255, 80, 0.9);
                border: none;
            }

            .year {
                background-color: rgba(50, 255, 80, 0.9);
                color: $background-color;

                @include for-laptop-sm-and-up {
                    background-color: unset;
                    color: $text-color;
                }
            }
        }

        @include for-laptop-sm-and-up {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        @include for-laptop-sm-and-up {

            .job,
            .company,
            .location {
                display: inline-block;
                color: $text-color;
                font-size: 1.8rem;
                margin: 0;
            }

            .year {
                border: none;
                font-size: 1.8rem;
            }

            .bubble {
                display: inline-block;
                margin: 0 12px;

                @include size(12px);
                min-width: 12px;
                min-height: 12px;

                border: solid 1px $text-color;
                border-radius: $magic-number;
            }
        }
    }
}