/* Variables */
// Credits to Daan van der Zwaag -> https://daanvanderzwaag.com/journal/the-magic-number
$magic-number: 72px;
$root-font-size: 10px;

/* Elements */
$border-radius: 6px;
$border-radius-tag: 36px;
$nav-height: 29px;

/* Colors */
$dark-main: hsl(0, 0%, 4%);
$white-main: hsl(0, 0%, 95%);

$background-color: $dark-main;
$text-color: $white-main;

/* Animations */
$duration-quick: 0.15s;
$duration-medium: 0.25s;
$duration-inter: 0.25s;
$duration-slow: 0.5s;
$ease-in: cubic-bezier(0.39, 0.01, 0.63, -0.06);
$ease-out: cubic-bezier(0.27, 0.53, 0.15, 1.01);
$ease-in-out: cubic-bezier(0.58, 0, 0.44, 1);

/* Screensizes */
$breakpoints: (
    "tablet": 767px,
    "laptop-m": 1024px,
    "laptop-l": 1440px,
    "laptop-xl": 1920px,
);

$tablet: 768px;
$laptop-sm: 1024px;
$laptop-l: 1440px;
$laptop_xl: 1920px;

@mixin for-tablet-and-up {
    @media screen and (min-width: $tablet) {
        @content;
    }
}

@mixin for-phablet-and-up {
    @media screen and (min-width: $tablet) and (orientation: portrait) {
        @content;
    }
}

@mixin for-tablet-landscape-and-up {
    @media screen and (min-width: $tablet) and (orientation: landscape) {
        @content;
    }
}

@mixin for-laptop-sm-and-up {
    @media screen and (min-width: $laptop-sm) {
        @content;
    }
}

@mixin for-laptop-l-and-up {
    @media screen and (min-width: $laptop-l) {
        @content;
    }
}

@mixin for-laptop-xl-and-up {
    @media screen and (min-width: $laptop_xl) {
        @content;
    }
}

/* CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: $root-font-size;
    background-color: $background-color;
    overflow-x: hidden;
}

main {
    // min-height: calc(var(--vh, 1vh) * 100);
}

body {
    padding-top: $nav-height;
    overflow-x: hidden;
    
    font-family: "Montserrat";
    font-weight: 400;

    padding-top: 27.3px;
    @include for-tablet-and-up {
        padding-top: 63.3px;
    }
    @include for-laptop-l-and-up {
        padding-top: 45.3px;
    }
}

section {
    overflow-x: hidden;
    position: relative;
    z-index: 10;
}
