.container {
  height: calc(var(--vh, 1vh) * 100 - var(--nav-height, calc($magic-number / 2)));
  height: 100vh;

  .intro-text {
    color: red;
    font-size: $magic-number;
    z-index: 100;

    .content div span {
      z-index: 100;
      display: block;
      color: red;
      font-size: $magic-number;
    }
  }

  canvas {
    @include absoluteZero();
    @include size(100%);
  }
}
