@use "styling/abstracts"as *;

.journal-book {
    .headline {
        color: $text-color;
        font-family: "Syne";
        font-weight: 700;
        font-size: 5.6rem;
    }
}

.journal-small {
    text-decoration: none;

    &__year {
        color: $text-color;
        font-size: 2.2rem;
        font-weight: 200;
    }

    &__name {
        color: $text-color;
        font-size: 2.4rem;
    }

    &__tags span {
        color: $background-color;
        font-size: 1rem;
        font-weight: 500;
    }
}

.journal {
    display: none;
    padding: calc($magic-number) calc($magic-number / 2);

    max-width: calc($magic-number * 30);
    margin: auto;

    position: relative;
    z-index: 4 !important;

    @include for-laptop-sm-and-up {
        display: block;
    }

    @include for-laptop-l-and-up {
        padding: calc($magic-number * 2) calc($magic-number);
    }

    background-color: $background-color;
    overflow-x: hidden;

    .headline {
        color: $text-color;
        position: relative;
        margin-bottom: calc($magic-number * 2);
        font-family: "Syne";
        font-size: clamp($magic-number, 6vw, 244px);
        font-weight: 700;
    }
}

.book {
    margin-bottom: calc($magic-number * 2);
    user-select: none;
    color: $text-color;

    .year {
        position: relative;
        margin-bottom: calc($magic-number / 2);

        font-size: 3.6rem;
        font-weight: 200;

        transition: transform $duration-quick $ease-in;
    }
}

// Add extra delay for each tag in tag-list
@for $i from 1 through 3 {
    .project-tag-list .project-tag:nth-child(#{$i}n) {
        transition-delay: #{$i * 0.075}s !important;
    }
}

.project-title {
    position: relative;
    display: block;
    text-decoration: none;

    margin-top: 0;

    color: $text-color;
    font-size: 5.6rem;
    font-weight: 600;

    user-select: none;
    transition: opacity $duration-medium $ease-out,
        transform $duration-medium $ease-out;
}

.entries {
    position: relative;
    z-index: 10;

    article {
        display: block;

        a {
            text-decoration: none;
            color: white;
        }

        a:visited {
            color: white;
        }
    }

    .project-item {
        display: flex;
        justify-content: space-between;
        padding: calc($magic-number / 2) 0;

        border-top: 1px solid $white-main;
        border-bottom: 1px solid $white-main;

        .tags {
            transition: all $duration-medium $ease-out;
            align-items: center;
        }

        &:hover {
            cursor: pointer;
            transition: all $duration-medium $ease-out;

            .project-title,
            .tags {
                opacity: 0.35;
            }
        }
    }

    .project-tag-list {
        position: relative;
        display: inline-block;

        padding-left: 0px;
        margin-left: -3px;

        user-select: none;
        opacity: 1;

        transition: opacity $duration-medium $ease-out,
            transform $duration-medium $ease-out;
    }
}

.images {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;

    @include size(100%);
    user-select: none;

    .media-img-container {
        position: absolute;

        aspect-ratio: 5/7;
        width: calc($magic-number * 3.5);

        overflow: hidden;
        border-radius: 3px;

        
        &.is-active {
            .asset {
                opacity: 1;
            }
        }
        
        .asset {
            @include size(100%);
            transition: opacity $duration-quick $ease-in-out;

            opacity: 0;
            object-fit: cover;
            pointer-events: none;
        }
    }
}