@use "styling/abstracts/" as *;

.video-player {
  display: flex;
  position: relative;
  @include size(100%);

  .video {
    @include size(100%);
    object-fit: cover;
  }

  &.dont-cover {
    .video {
      object-fit: contain;
    }
  }
}
